.question-div,#container{
    display: flex;
    flex-direction: column;
}

#tally{
    font-size: 18px;
    text-align: center;
}

button,input,label{
    cursor: pointer;
}

#container{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin: 0 auto;
}

.correct-answer{
    border: solid green 1px;
}

.wrong-answer{
    border: solid red 1px;
}

.question-div{
    width: 250px;
    height: 180px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}

.question-div span,.question-div p{
    font-size: 18px;
}

#button-container{
    display: flex;
    justify-content: center;
    min-width: 90px;
}

button:hover{
    transition: 0.1s;
    background-color: rgb(194, 194, 194);
}

button:active{
    background-color: lightgreen;
}

.hidden{
    display: none;
}

#welcome-message{
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    margin: -10px 10px;
    padding: 20px;
}

#welcome-message p{
    text-align: center;
    width: 200px;
}

.balloon {
    position: absolute;
    width: 30px;
    height: 40px;
    background: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    animation: float 4s ease-out forwards;
    opacity: 0;
}

@keyframes float {
    0% {
    bottom: 0;
    opacity: 1;
    }
    100% {
    bottom: 100vh;
    opacity: 0;
    }
}

#celebration {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
}

@media (min-width: 768px){
    #welcome-message p{
        width: 40rem;
        font-size: 2.4rem;
    }

    #tally{
        font-size: 2.2rem;
    }

    .question-div{
        width: 35rem;
        height: 20rem;
        padding: 2.5rem;
        border-radius: 1rem;
    }

    .question-div span,.question-div p{
        font-size: 2.1rem;
    }

    button{
        border-radius: .2rem;
        padding: .1rem;
        height: 3rem;
        margin: 20px;
        width: 9rem;
        font-size: 1.7rem;
    }
}

@media (min-width: 1044px){
    #welcome-message p{
        width: 70rem;
        font-size: 4rem;
    }

    #tally{
        font-size: 3.5rem;
    }

    .question-div{
        width: 58rem;
        height: 28rem;
        padding: 2.5rem;
        border-radius: 1rem;
        margin-bottom: 2rem;
        border-radius: 2.5rem;
    }

    .question-div span,.question-div p{
        font-size: 3.3rem;
    }

    button{
        border-radius: .6rem;
        height: 5rem;
        width: 15rem;
        font-size: 2.8rem;
    }

    input[type="radio"]{
        margin-right: 15px;
        transform: scale(2);
    }
}

@media (min-width:2560px){
    #welcome-message p{
        width: 130rem;
        font-size: 8rem;
    }

    #tally{
        font-size: 7.8rem;
    }

    .question-div{
        width: 130rem;
        height: 80rem;
        padding: 2.5rem;
        margin-bottom: 4rem;
        border-radius: 4rem;
        border-width: .2rem;
    }

    .question-div span,.question-div p{
        font-size: 7.5rem;
    }

    .question-div p{
        padding-left: 3rem;
    }

    .question-div span{
        padding-left: 3rem;
    }

    button{
        border-radius: 1rem;
        height: 10rem;
        width: 30rem;
        font-size: 5rem;
        border-width: .3rem;
    }

    input[type="radio"]{
        margin-right: 3rem;
        transform: scale(4.5);
        position: relative;
        top: -25px;
        left: 40px;
    }
}